@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <h1>Get Booking Hotel Id</h1>
    <br />
    <br />
<form method="post">
    <label>City Name</label>
    <input type="text" class="form-control" name="city" />
    <br />
    <br />
    <button class="btn btn-outline-primary">Get City Id</button>
</form>