@model ForgetPasswordVm
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <h2>Refresh Password</h2>
    <form method="post">
        <label>Mail Adress</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary"> Send to Refresh Your Password</button>
    </form>
</div>

